*{
  background-color: #9DC88D;
}

h1 {
  font-size: 2rem;
  color: #164A41;
  font-weight: 600;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  color: #4D774E;
}

h3{
  font-size: 1.3rem;
  color: #4D774E;
}

 a {
  background-color: #E8CEBF;
}

a{
  text-decoration: none;
  padding:20px;
}
